body {
	font-family: openSans;
	background-color: #F8F4E3;
}

.bar {
  fill: crimson;
}

.bar:hover {
  fill: gold;
}

.axis--x path {
  display: none;
}

h2 {
	text-transform: uppercase;
	font-weight: 800;
}

h3 {
	font-weight: 300;
	font-size: .9em;
}

span {
	color: crimson;
	font-weight: 800;
}