body {    
    background-color: oldlace;   
    text-align: center;
}

h1 {
    font-family: 'leafy';
}

h2 {
    font-family: 'leafy';
}

h3 {
    font-family: 'Big John';
    color: tan;
}

p{
    font-family: 'Slim Joe';
}