body {
    display: block;
    position: relative;
    width: 100vw;
    height: 100vh;
    padding: 0;
    margin: 0;
    background-color: #9FD1FA;
}

body svg {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.counties {
  fill: none;
}

.states {
  fill: none;
  stroke: #fff;
  stroke-linejoin: round;
}