html {
  font-family: Roboto, -apple-system, BlinkMacSystemFont, Helvetica Neue, Segoe UI, Oxygen, Ubuntu, Cantarell, Open Sans, sans-serif;
  max-width: 100%;
}

body {
  margin: 0;
}

svg {
  height: 100vw;
  width: 100vw;
}

.axis path {
  fill: none;
}

.axis path,
.axis line,
.dot,
rect {
  stroke: currentcolor;
  stroke-width: 2;
}
