.bar {
  fill: steelblue;
}

.bar:hover {
  fill: tomato;
	-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	-ms-transition: all 1s ease;
	-o-transition: all 1s ease;
	transition: all 1s ease;
}

.axis--x path {
	fill: green;
}
