* {
    font-family: sans-serif;
}
table {
    th, td {
        padding: 0.3rem;
    }
    thead tr {
        background-color: orange;
        th {
            color: white;
            text-align: left;
            &::first-letter {
                text-transform: uppercase;
            }
        }
    }
    tbody  {
        tr {
            &:nth-child(even) {
                background-color: #f2f2f2;
            }
        }
    }
}
