html {
  background-color: black;
  color: white;
  height: 100%;
  font-family: Roboto, -apple-system, BlinkMacSystemFont, Helvetica Neue, Segoe UI, Oxygen, Ubuntu, Cantarell, Open Sans, sans-serif;
}

body {
  margin: 0;
  height: 100%;
}

svg {
  width: 100%;
  min-width: 400px;
  height: 100%;
}

.bar {
  fill: currentcolor;
}

text {
  fill: currentcolor;
}

.d3-tip {
  background-color: #feca2f;
  padding: 1ex;
  border-radius: 0.125em;
  color: black;
  transition: opacity 200ms;
}

.d3-tip:after {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  left: 50%;
  top: 100%;
  margin-left: -0.5ex;
  border: 0.5ex solid transparent;
  border-top-color: #feca2f;
}
