.chart rect {
    fill: steelblue;
    }

    .chart text {
    fill: white;
    font: 10px sans-serif;
    text-anchor: end;
    }

    circle {
    fill: rgb(31, 79, 80);
    fill-opacity: .75;
    stroke: rgb(31, 119, 80);
    stroke-width: 1px;
    }

    .leaf circle {
    fill: #ff7f0e;
    fill-opacity: 1;
    }

    text {
    font: 10px sans-serif;
    }

    .link {
    stroke: #999;
    stroke-opacity: .6;
    }
