body {
  background: #000000;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #434343, #000000);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #303030, #000000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.bar {
  fill: #8000ff;
}

.bar:hover {
  opacity: 0.6;
}

.axis--x path {
  /* display: none; */
}
/* makes it so the x axis line is visible */

.axisaxis--x {
  text-anchor: start;
}
/* makes the text stick from the first letter on x axis instead of the middle */

.axisaxis--x .tick > text {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}
/* rotates the x axis text so its readable */

.axisaxis--y > text {
  transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  text-anchor: end;
}
/* positions and rotates the information text on y axis (amount of speakers) */

.domain {
  stroke: #909090;
}
/* makes the x and y axis grey */

text {
  stroke: #909090;
}
/* makes the x and y axis text grey */


line {
  stroke: #909090;
}
/* makes the "lines" attached to the axis grey */

h1 {
  color: #909090;
  font-family: sans-serif;
  float: right;
  margin-right: 0.2rem;
  margin-top: 7rem;
}

h2 {
  color: #909090;
  font-family: sans-serif;
  margin-left: 30rem;
  margin-top: 5rem;
}

p {
  color: #909090;
  font-family: sans-serif;
  position: absolute;
  max-width: 25%;
  left: 70rem;
  bottom: 38rem;
}

label {
  position: absolute;
  right: 10px;
  left: 950px;
  top: 40px;
}

label {
  font-size: 18px;
  color: #ffffff;
}
