body{
    background-image: url(Potato-chips-Desktop.jpg);
}

.bar {
  fill: #caedcc;
}

.bar:hover {
  fill: #b2a6ce;
}


text{
    fill:#19aba7;
    font-family:"Helvetica";
    font-size: 15px;

}

.domain{
    stroke:#fe9496;
    stroke-width:3px;
}



h1{
    text-align:center;
    font-family:"Helvetica";
    font-size: 50px;
    text-transform:uppercase;
    padding-top:50px;
    color:#35474d;
    text-decoration: underline;

}
