body{
	background: url(https://www.toptal.com/designers/subtlepatterns/patterns/memphis-colorful.png);
}

.bar {
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-ms-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease;
}

.bar:hover {
  fill: tomato;
}

h1{
	font-family: fantasy;
	text-align: center;
}
