html{
	color: #000;
	background-color: currentcolor;
	max-width: 100%;
}

body{
	margin: 0;
}

svg{
	width: 100vw;
	height: 100vh;
}
.arc,text{
	fill: currentcolor;
}

text{
	font-family:Roboto, -apple-system, BlinkMacSystemFont, Helvetica Neue, Segoe UI, Oxygen, Ubuntu, Cantarell, Open Sans, sans-serif;
	font-size: small;
	text-anchor: middle;
}

path{
	stroke: currentcolor;
	stroke-width: 3;
}
