body {
    background-color: rgba(44, 62, 80,1.0);
    font: 10px sans-serif;
    color: white;
    text-align: center;
    padding-top: 5em;
}

.axis path, .axis line {
    fill: none;
    stroke: white;
    shape-rendering: crispEdges;
}

.bar {
    fill: rgba(241, 196, 15,1.0);
    transition-duration: 600ms;
}

.bar:hover {
    transition: 550ms ease-in-out;
    fill: rgba(22, 160, 133,1.0);
}

.x.axis path {
    display: none;
}

.axis {
    fill: white;
}

.d3-tip {
    line-height: 1;
    font-weight: bold;
    padding: 12px;
    background: rgba(0, 0, 0, 0.8);
    color: #fff;
    border-radius: 2px;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
    box-sizing: border-box;
    display: inline;
    font-size: 10px;
    width: 100%;
    line-height: 1;
    color: rgba(0, 0, 0, 0.8);
    content: "\25BC";
    position: absolute;
    text-align: center;
}

/* Style northward tooltips differently */
.d3-tip.n:after {
    margin: -1px 0 0 0;
    top: 100%;
    left: 0;
}

.tick {
    color: white;
}
