body {background-color: aliceblue;
}

h1 {
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    font-size: 1.3em;
    padding-left: 2em;
}

.bar {
  fill: #74b7ff;
}

.bar:hover {
  fill:  #ffbb0f;
}

.axis--x path {
  display: none;
}

.axis--y path {
  display: none;
}