body {
  font-family: sans-serif;
}

h1, h3 {
  text-align: center;
}

h3 {
  font-weight: 400;
}

table {
    border-collapse: collapse;
    width: 25em;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #f2f2f2;
}

td, th {
    padding: 8px;
    text-align: left;
}

tr:nth-child(even){background-color: #f2f2f2}

th {
    background-color: #2a6cc1;
    color: white;
}
