html {
    background-color: #fff;
    max-width: 100%;
    
}

body {
    margin: 0;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
}

h1 {
    color: black;
    font-family: Myriad Pro;
    font-size: 15pt;
    margin-top: 20pt;
}

ul {
    margin-top: 50pt;
}

li {
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style-type: none;
    margin-bottom: 5pt;
    
}



.first {
    border: 1px solid hsl(45, 99%, 59%);
    height: 20pt;
    width: 20pt;
    background-color: hsl(45, 99%, 59%);
    margin-right: 10pt;
}

.second {
    border: 1px solid hsl(96, 99%, 59%);
    height: 20pt;
    width: 20pt;
    background-color: hsl(96, 99%, 59%);
    margin-right: 10pt;
}

.third {
    border: 1px solid hsl(148, 99%, 59%);
    height:20pt;
    width: 20pt;
    background-color: hsl(148, 99%, 59%);
    margin-right: 10pt;
}

.fourth {
    border: 1px solid hsl(199, 99%, 59%);
    height: 20pt;
    width: 20pt;
    background-color: hsl(199, 99%, 59%);
    margin-right: 10pt;
}

.fifth {
    border: 1px solid hsl(250, 99%, 59%);
    height: 20pt;
    width: 20pt;
    background-color: hsl(250, 99%, 59%);
    margin-right: 5pt;
}

.sixth {
    border: 1px solid hsl(302, 99%, 59%);
    height: 20pt;
    width: 20pt;
    background-color: hsl(302, 99%, 59%);
    margin-right: 10pt;
}

.seventh {
    border: 1px solid hsl(302, 99%, 59%);
    height: 20pt;
    width: 20pt;
    background-color: hsl(302, 99%, 59%);
    margin-right: 15pt;
}

svg {
    width: 410pt;
    height: 410pt;
}

.arc,
text {
    fill: currentcolor;
}

text {
    font-family: Myriad Pro, sans-serif;
    font-size: 8pt;
    text-anchor: middle;
    padding: 2pt;
    color: black;
}

path {
    stroke: white;
    stroke-width: 2;
}